header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 var(--base-unit);
    align-items: center;
    gap: var(--base-unit);
}

section {
    background-color: #d1d7e0;
    padding: var(--base-unit);
    border-radius: var(--base-unit);
    width: 100%;
}

input {
    min-height: calc(var(--base-unit)*4);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media(width>1200px) {
    main {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}